<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>CA Annuel</title>
    </h:head>
    <h:body>
        
        <h:form>
            
            <h:outputText value="#{controleurCaAnnuel.caAnnuel}" >
            
               <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2" />
            
            </h:outputText> 
            <p:chart type="bar" model="#{controleurCaAnnuel.barModel}" />
                
        </h:form>
         
    </h:body>
</html>

