<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Commande par num</title>
    </h:head>
    <h:body>
      <h:form>
            
           <f:view locale="fr">
        
           <p:panelGrid id="panelSaisie" columns="3">
                    
                    <p:outputLabel value="N° Commande"         for="numCom" />    
                    <p:inputText id="numCom" value="#{controleurNumCom.numCom}"        required="true"/>
                    <p:commandButton value="OK" action="#{controleurNumCom.ecouteurRecherche()}" update="@all"/>
                    
                </p:panelGrid>
               
                <br/>
               
               <p:panelGrid id="panelInfosCom" columns="2">

                   <p:outputLabel value="date commande"/>
                   <h:outputText value="#{controleurNumCom.commande.dateCom}"  >
                   <f:convertDateTime pattern="dd/MM/yyyy"  timeZone="Europe/Paris"/>
                   </h:outputText> 
                   
                   <p:outputLabel value="etat commande"/>
                   <h:outputText value="#{controleurNumCom.commande.etatCom}"/>
                   
                </p:panelGrid>
               
                <br/>
               
                <p:panelGrid id="panelInfosClient" columns="2">
                    
                   <p:outputLabel value="Num client"/>        <h:outputText value="#{controleurNumCom.commande.leClient.numCli}"/>
                   <p:outputLabel value="Nom client"/>        <h:outputText value="#{controleurNumCom.commande.leClient.nomCli}"/>
                   <p:outputLabel value="Adresse client"/>        <h:outputText value="#{controleurNumCom.commande.leClient.adrCli}"/>
                   <p:outputLabel value="Nom region client"/>        <h:outputText value="#{controleurNumCom.commande.leClient.laRegion.nomRegion}"/>
                   <p:outputLabel value="CA annee en cours"/>        <h:outputText value="#{controleurNumCom.commande.leClient.caAnneeEnCours()}"> <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2"/> </h:outputText>
                   <p:outputLabel value="Solde du client"/>        <h:outputText value="#{controleurNumCom.commande.leClient.resteARegler()}"> <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2"/> </h:outputText>
                   <p:outputLabel value="Taux de réduction"/>        <h:outputText value="#{controleurNumCom.commande.leClient.tauxRemCli}"> <f:convertNumber type="currency" currencySymbol="%" groupingUsed="true" minFractionDigits="2"/> </h:outputText>
                </p:panelGrid>
               
                <br/>
               
                <p:panelGrid id="panelInfosMontant" columns="2">
                    <p:outputLabel value="Montant HT"/>        <h:outputText value="#{controleurNumCom.commande.montantCommandeHT()}"> <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2"/> </h:outputText>
                    <p:outputLabel value="Montant TVA"/>        <h:outputText value="#{controleurNumCom.commande.montantTVA()}"> <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2"/> </h:outputText>
                    <p:outputLabel value="Montant TTC"/>        <h:outputText value="#{controleurNumCom.commande.montantCommandeTTC()}"> <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2"/> </h:outputText>
                </p:panelGrid>
                
                <br/>
                
                <p:dataTable 
                    value="#{controleurNumCom.commande.lesLignesDeCommande}" var="lgc"  rowIndexVar="rang"
                > 
                    <f:facet name="header" >Les lignes de la commande #{controleurNumCom.numCom}</f:facet> 
                
                    <p:column  headerText="numéro"  styleClass="colNumCom">#{lgc.laCommande.numCom} </p:column> 
                    
                    <p:column headerText="Référence"  styleClass="colDateCom">                   
                        <h:outputText value="#{lgc.leProduit.refProd}"  >
                        </h:outputText>               
                    </p:column>
                    
                    <p:column headerText="Désignation"  styleClass="colDateCom">                   
                        <h:outputText value="#{lgc.leProduit.desigProd}"  >
                        </h:outputText>               
                    </p:column>
                    
                    <p:column headerText="Prix du produits"  styleClass="colDateCom">                   
                        <h:outputText value="#{lgc.leProduit.prixProd}"  >
                            <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2"/>
                        </h:outputText>               
                    </p:column>
                    
                    <p:column headerText="quantité"  styleClass="colDateCom">                   
                        <h:outputText value="#{lgc.qteCom}"  >
                        </h:outputText>               
                    </p:column>
                    
                    <p:column headerText="montant HT"  styleClass="colDateCom">                   
                        <h:outputText value="#{lgc.montantDeLigneComHT()}"  >
                            <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2"/>
                        </h:outputText>               
                    </p:column>
                    
                    <p:column headerText="Montant TTC"  styleClass="colDateCom">                   
                        <h:outputText value="#{lgc.montantDeLigneComTTC()}"  >
                            <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2"/>
                        </h:outputText>               
                    </p:column>
                </p:dataTable>
            </f:view>    
      </h:form>        
    </h:body>
</html>

